<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="APP_NAME" value="cetc36-demo"/>
    <property name="LOG_HOME" value="home/admin/${APP_NAME}/logs}"/>

    <if condition='isNull("SPRING_PROFILES_ACTIVE") || property("SPRING_PROFILES_ACTIVE").equals("local")'>
        <then>
            <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>
                        %d{ISO8601} %highlight(%-5level) [%X{trace-id}] [%blue(%t)] %yellow(%C{1.}) %msg%n%throwable
                    </Pattern>
                </layout>
            </appender>

            <root level="INFO">
                <appender-ref ref="Console"/>
            </root>
        </then>

        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,GMT+8} - %p - [%t] - %c:%L - %X{trace-id} - %m%n</pattern>
                </encoder>
            </appender>
            <root level="INFO">
                <appender-ref ref="STDOUT"/>
            </root>
        </else>
    </if>

</configuration>